<link rel="stylesheet" href="css/style.css">

font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
